body{
    position: relative;
    background-color: beige;
}

.header{
    color: cadetblue;
    font-size: 20px;
    height: 30px;

    text-align: center;
    font-family: gravitas-one;
}
.user{
    font-size: 40px;
    text-align: center;
    margin: 50px;
}
/*evote sign in*/
p{
    text-align: center;
}
span{
    font-family: antic-didone;
    text-align: center;
    font-size: 30px;
    margin-top: 5%, 5%, 0%, 5%;
    width: 40%;
    height: 100%;
    float: left;
    position: relative;

}
.forgot{
    color: red;
    text-align: right;
    font-size: 10px;
    text-align: center;
    text-decoration: underline;

}
.headerHome{
    color: cadetblue;
    font-size: 55px;
    height: 70px;
    width: auto;
    text-align: center;
    font-family: gravitas-one;
}

.signIn{
    margin: 0%, 5%, 5%, 5%;
    width: 40%;
    height: 100%;
    font-family: antic-didone;
    text-align: left;
    font-size: 20px;
    float: left;
}


.signUp{
    margin: 0%, 5%, 10%, 15%;
   padding-bottom: 50px;
    width: 40%;
    height: 100%;
    font-family: antic-didone;
    text-align: center;
    font-size: 20px;
    float:left;
    position: relative;
}

.center-div{
    margin:auto;
    width:100%;
    padding-top: 50px;
}
/*end*/




#options{
    font-size: 15px;
    font-family: "times new roman";
    text-align: center;
    text-decoration: underline;
}

/*profile*/
.open{
    background-color: azure;
    height: 300px;
    width: 300px;
    float: left;
    margin: 20px;
    margin-top: 100px;
    font-size: 30px;
    text-align: center;
    padding-top: 10px;
}

.closed{
    background-color: red;
    height: 300px;
    width: 300px;
    float: left;
    margin: 20px;
    margin-top: 100px;
    font-size: 30px;
    text-align: center;
    padding-top: 10px;
}
#buttons{
    padding-top: 200px;
    float:center;
}

/*View and vote.html*/
#directions{
    text-align: center;
    margin-top: 20px;
}

.ballot{
    background-color: azure;
    height: 300px;
    width: 300px;
    margin: 20px;
    margin-top: 15px;
    font-size: 25spx;
    text-align: center;
    padding-top: 10px;
    margin-left: 32%;
}
/*Thank you page*/
p{
    font-size: 40px;
    text-align: center;
}

/*information*/

/*EO homepage*/
.items{
    margin: 10%;
    font-size: 30px;
    text-align: center;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
